.challenges-list__tabs{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.challenges-list__content{
  margin-top: 30px;
  padding: 20px;
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color: #0fadcc;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.circle-margin--first{
  margin-right: 140px;
}

.circle-margin--second{
  margin-right: 70px;
}

.my-float{
  margin-top:22px;
}